.fa-crown:hover{
    color: gold;
    cursor: pointer;
}
.fa-level-down-alt:hover{
    color: purple;
    cursor: pointer;
}
.fa-ban:hover{
    color: red;
    cursor: pointer;
}
.fa-play-circle:hover{
    cursor: pointer;
    color: green;
}
.fa-times-circle:hover{
    cursor: pointer;
    color: red;
}
